<naf-toolbar title="Dashboard">
  <p-button size="small" [label]="'Submit Request' | uppercase" (click)="showSubmitRequestDialog()"/>
</naf-toolbar>

<div class="charts-container">
  <p-card header="Bookings" [style]="{height: '100%'}">
    <naf-bookings-chart></naf-bookings-chart>
  </p-card>
  <p-card header="Categories" [style]="{height: '100%'}">
    <naf-categories-chart></naf-categories-chart>
  </p-card>
</div>

<naf-requests-table></naf-requests-table>

<naf-submit-request-modal [(visible)]="submitRequestDialogVisible"></naf-submit-request-modal>
