.charts-container {
  display: flex;
  column-gap: var(--naf-indent-xlarge);
  margin-bottom: var(--naf-indent-xxxlarge);

  p-card {
    display: block;
    flex: 1 1 50%;
  }
}

naf-categories-chart {
  //padding: 0 130px;
  //width: calc(100% - 30px)
}
