<p-card class="tabs-card">
  <div class="card">
    <p-tabs value="recent">
      <p-tablist>
        <p-tab value="recent" (click)="onTabClick('recent')">Recent</p-tab>
        <p-tab value="active" (click)="onTabClick('active')">Active</p-tab>
      </p-tablist>

      <p-table [value]="requests()">
        <ng-template #header>
          <tr [style]="{fontSize: '12px'}">
            <th [style]="{width: '160px'}">Date</th>
            <th>Name</th>
            <th [style]="{width: '130px'}">Amount</th>
            <th [style]="{width: '100px'}">Status</th>
          </tr>
        </ng-template>

        <ng-template #body let-product>
          <tr>
            <td>{{ product.date }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.amount | currency:'EUR':'symbol':'1.0-0' }}</td>
            <td style="text-transform: capitalize">{{ product.status }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabs>
  </div>
</p-card>


