@use "sass:map";
@use "../../../shared/styles/colors";
@use "../../../shared/styles/indents";

:host {
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: map.get(indents.$indents, "medium");
}

a {
  display: inline-block;
  padding-left: map.get(indents.$indents, "medium");
  text-decoration: none;
  color: initial;

  &.active {
    color: map.get(colors.$colors, "primary");
  }
}
