@use "sass:map";
@use "../../../shared/styles/colors";

.sidebar-link-container {
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: var(--naf-indent-medium);
}

a {
  display: inline-block;
  padding-left: var(--naf-indent-medium);
  text-decoration: none;
  color: initial;

  .active & {
    color: var(--p-primary-color);
  }
}

mat-icon {
  .active & {
    fill:  var(--p-primary-color);
  }
}
