@use "sass:map";

:root {
  --naf-indent-small: 8px;
  --naf-indent-medium:16px;
  --naf-indent-large: 24px;
  --naf-indent-xlarge: 32px;
  --naf-indent-xxlarge: 40px;
  --naf-indent-xxxlarge: 48px;
}
