@use "sass:map";
@use "../../shared/styles/indents";

:host {
  display: block;
  flex: 1;
  padding: map.get(indents.$indents, "large") map.get(indents.$indents, "xlarge") map.get(indents.$indents, "xxlarge");
  background-color: grey;
}
