<a class="naf-logo" routerLink="/">
  <img ngSrc="/icons/na-logo.svg" alt="logo" width="170" height="32" />
</a>

<naf-sidebar-link title="Dashboard" route="dashboard" icon="view-dashboard"></naf-sidebar-link>
<naf-sidebar-link title="Rooms" route="rooms" icon="bed"></naf-sidebar-link>
<naf-sidebar-link title="Package" route="package" icon="star"></naf-sidebar-link>
<naf-sidebar-link title="Design" route="design" icon="palette"></naf-sidebar-link>
<naf-sidebar-link title="Billing" route="billing" icon="credit-card"></naf-sidebar-link>
<naf-sidebar-link title="Settings" route="settings" icon="cog"></naf-sidebar-link>
