<a class="naf-logo" routerLink="/">
  <img ngSrc="/icons/na-logo.svg" alt="logo" width="170" height="32" />
</a>

<naf-sidebar-link title="Dashboard" route="dashboard"></naf-sidebar-link>
<naf-sidebar-link title="Rooms" route="rooms"></naf-sidebar-link>
<naf-sidebar-link title="Package" route="package"></naf-sidebar-link>
<naf-sidebar-link title="Design" route="design"></naf-sidebar-link>
<naf-sidebar-link title="Billing" route="billing"></naf-sidebar-link>
<naf-sidebar-link title="Settings" route="settings"></naf-sidebar-link>
